@media screen and (max-width: 899px)
  .sidebar
    position: fixed
    width: 225px
    height: auto
    border-radius: 20px
    padding: 20px
    margin-left: 15px

.behind
  z-index: -1

.sidebar
  position: fixed
  width: 225px
  height: auto
  // max-height: 275px
  border-radius: 20px
  padding: 20px
  margin-left: 17px
  transition: all 0.1s ease-out

.expanded
  max-height: 480px
  z-index: 1

.sidebar__title
  a
    font-size: 25px
    font-weight: bold
    text-decoration: none
    color: #292b25
    margin-left: 5px

    &:hover
      color: #5d6b5b

.sidebar__intro
  color: #5d6b5b
  font-size: 14px
  margin-bottom: 50px
  margin-left: 5px

  p
    margin-bottom: 10px

    &:last-child
      margin-bottom: 0

.sidebar__menu
  margin-bottom: 50px
  margin-left: 5px

  li
    a
      text-decoration: none
      display: block
      padding-left: 20px
      color: #292b25
      position: relative
      font-size: 17px
      font-weight: bold

      &:before
        content: ""
        position: absolute
        left: 0
        top: 50%
        margin-top: -6px
        height: 12px
        width: 12px
        background-image: url('https://cdn.rawgit.com/encharm/Font-Awesome-SVG-PNG/master/black/svg/chevron-right.svg')
        background-position: 50% 50%
        background-repeat: no-repeat
        background-size: contain
        opacity: 0.6

      &:hover
        color: #5d6b5b

    &.is-active a
      font-weight: bold
      color: $active-color

.sidebar__copyright
  color: $light-body-color
  font-size: 13px
