@media screen and (max-width: 899px)
  .sidebar
    position: fixed
    width: 276px
    height: auto
    border-radius: 20px
    padding: 20px
    margin-left: 15px
    z-index: 2

.sidebar
  position: fixed
  max-width: 300px
  height: auto
  // max-height: 275px
  border-radius: 20px
  padding: 20px
  margin-left: 12px
  transition: all 0.1s ease-out
  z-index: 5

.expanded
  max-height: 480px

.sidebar__title
  a
    font-size: 25px
    font-weight: bold
    text-decoration: none
    color: #292b25
    margin-left: 5px

    &:hover
      color: #5d6b5b

.sidebar__intro
  color: #5d6b5b
  font-size: 14px
  margin-bottom: 30px
  margin-left: 5px

  p
    margin-bottom: 10px

    &:last-child
      margin-bottom: 0

.sidebar__menu
  margin-bottom: 70px
  margin-left: 5px

  li
    a
      text-decoration: none
      display: block
      padding-left: 20px
      color: #292b25
      position: relative
      font-size: 17px
      font-weight: bold

      &:before
        content: ""
        position: absolute
        left: 0
        top: 50%
        margin-top: -6px
        height: 12px
        width: 12px
        background-image: url('https://cdn.rawgit.com/encharm/Font-Awesome-SVG-PNG/master/black/svg/chevron-right.svg')
        background-position: 50% 50%
        background-repeat: no-repeat
        background-size: contain
        opacity: 0.6

      &:hover
        color: #5d6b5b

    &.is-active a
      font-weight: bold

.sidebar__copyright
  font-size: 13px

.aws-btn
  --button-default-height: 55px !important
  --button-default-font-size: 14px !important
  --button-default-border-radius: 10px !important
  --button-horizontal-padding: 20px !important
  --button-raise-level: 1px !important
  --button-hover-pressure: 1 !important
  --transform-speed: 0.185s !important
  --button-primary-color: transparent !important
  --button-primary-color-dark: transparent !important
  --button-primary-color-light: transparent !important
  --button-primary-color-hover: transparent !important
  --button-primary-border: none !important
  --button-primary-color-active: transparent !important

.aws-btn:before
  background-color: rgb(0,0,0,0.2) !important