.social
  display: inline-block
  background-size: 100%
  margin-right: 4px
  width: 55px
  height: 55px

.centered
  display: flex
  justify-content: center
  //margin-left: 6px

.grow
  transition: all .1s ease-in-out

.grow:hover
  transform: scale(1.1)

.social--twitter
  background-image: url('https://www.datocms-assets.com/23328/1595107438-twitter.png')
  background-repeat: no-repeat

.social--instagram
  background-image: url('https://www.datocms-assets.com/23328/1595107432-insta.png')
  background-repeat: no-repeat

.social--email
  background-image: url('https://www.datocms-assets.com/23328/1595107435-mail.png')
  background-repeat: no-repeat

.social--cat
  background-image: url('https://www.datocms-assets.com/23328/1595107428-cat.png')
  background-repeat: no-repeat

@media screen and (min-width: 900px)
  .social
    width: 55px
    height: 55px
