.social
  display: inline-block
  width: 50px
  height: 50px
  vertical-align: middle
  background-size: 100%
  margin-bottom: 10px
  margin-right: 10px

.social--twitter
  background-image: url('https://www.datocms-assets.com/23328/1586925516-icontwitter.png')

.social--instagram
  background-image: url('https://www.datocms-assets.com/23328/1586925518-iconinsta.png')

.social--email
  background-image: url('https://www.datocms-assets.com/23328/1586925514-iconemail.png')

.social--cat
  background-image: url('https://www.datocms-assets.com/23328/1586925510-iconcatbot.png')

@media screen and (min-width: 900px)
  .social
    width: 40px
    height: 40px
